*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'NASHVILL';
  src: URL('./NASHVILL.TTF') format('truetype');
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* align-items: center; */
  /* justify-content: center; */
  background: url(./BFfarmpic.jpg);
  background-size: cover;
  /* font-family: 'NASHVILL'; */
}

header{
  display: flex;
  align-items: center;
  height: 20vh;
  padding-left: 20px;
 
  /* justify-content: center;   */
}

h1 {
  font-size: 7rem;
  font-family: 'NASHVILL';
  color: #faebd7;
  /* text-decoration: underline; */
}

.add-container{
  display: flex;
  margin-left: 5%;
  height: 7.5%;
}

input{
  height: 40px;
  width: 250px;
  color: antiquewhite;
  font-size: 1.1rem;
  background: transparent;
    border: none;
    border-bottom: 2px solid antiquewhite;
}

.add-input{
  width: 350px;
}

.add-button {
  background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#f5e8d7;
	/* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
	font-size:16px;
	font-weight:bold;
	padding:10px 16px;
	text-decoration:none;
  text-shadow:1px 1px 2px #000000;
  border: none;
  
  
}

h3{
  font-size: 4rem;
  font-family: 'NASHVILL';
  color: antiquewhite;
  text-decoration: underline;
  margin-right: 20px;
  margin-bottom: 15px;
}

.chore-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;

}

.chore-div{
  display: flex;
  align-items: baseline;
  /* justify-content: space-between; */
  width: fit-content;
  /* margin-bottom: 7px; */
  margin-top: 5px;

}

.chore-text{
  font-size: 1.5rem;
  color: antiquewhite;
}

.delete-button{
  margin-left: 20px;
  background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#f5e8d7;
	/* font-family:'NASHVILL'; */
	font-size:16px;
	font-weight:bold;
	padding:10px 16px;
	text-decoration:none;
  text-shadow:1px 1px 2px #000000;
  border: none;
  
}

.save-button{
  margin-left: 20px;
  background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#f5e8d7;
	/* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
	font-size:16px;
	font-weight:bold;
	padding:10px 16px;
	text-decoration:none;
  text-shadow:1px 1px 2px #000000;
  border: none;
}

footer{
  position:fixed ;
  bottom: 0;
  /* display: flex; */
  text-align: center;
  color: antiquewhite;
  font-size: 1rem;
  
  width: 100%;
  height: 7.5%;


}


@font-face {
  font-family: 'NASHVILL';
  src: URL('./NASHVILL.TTF') format('truetype');
}






